In [2]:
import mysql.connector
import pandas as pd

# Connect and display existing records
def show_all_applications():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="tejnk14",
        database="loan_system"
    )
    cursor = conn.cursor()

    query = """
    SELECT 
        c.CustomerID,
        c.Name,
        c.Age,
        ch.CreditScore,
        c.Income,
        l.LoanAmount,
        er.EligibilityStatus
    FROM Customers c
    JOIN CreditHistory ch ON c.CustomerID = ch.CustomerID
    JOIN LoanApplications l ON c.CustomerID = l.CustomerID
    JOIN EligibilityResults er ON l.LoanID = er.LoanID;
    """

    cursor.execute(query)
    rows = cursor.fetchall()
    conn.close()

    columns = ['CustomerID', 'Name', 'Age', 'CreditScore', 'Income', 'LoanAmount', 'EligibilityStatus']
    df = pd.DataFrame(rows, columns=columns)
    print("\nðŸ“‹ Existing Loan Applications with Eligibility Status:")
    print(df)

# To display current records
show_all_applications()

ðŸ“‹ Existing Loan Applications with Eligibility Status:
    CustomerID              Name  Age  CreditScore     Income LoanAmount  \
0            1       Amit Sharma   28          780  520000.00   15000.00
1            2        Neha Mehta   34          750  740000.00   85000.00
2            3        Ravi Joshi   45          805  880000.00   32000.00
3            4        Priya Nair   22          690  390000.00   45000.00
4            5       Karan Patel   31          720  610000.00   98000.00
5            6    Sneha Kulkarni   27          665  460000.00   37000.00
6            7      Manish Gupta   38          795  770000.00   22000.00
7            8         Divya Rao   25          710  420000.00   76000.00
8            9       Vikas Verma   50          825  950000.00   54000.00
9           10     Anjali Thakur   29          740  530000.00   67000.00
10          11    Rohan Deshmukh   26          685  480000.00   26000.00
11          12       Meera Sinha   40          800  820000.00   88000.00
12          13        Rahul Jain   35          765  690000.00   43000.00
13          14      Shweta Dubey   21          675  370000.00   51000.00
14          15  Siddharth Pillai   42          810  910000.00   29000.00
15          16      Tanya Saxena   23          700  410000.00   72000.00
16          17       Arjun Bhatt   30          725  600000.00   83000.00
17          18    Nidhi Kulkarni   28          735  540000.00   34000.00
18          19     Sameer Chavan   33          760  660000.00   60000.00
19          20        Isha Reddy   24          695  400000.00   20000.00
20          21       Harsh Joshi   36          755  730000.00   39000.00
21          22    Pooja Aggarwal   39          790  800000.00   75000.00
22          23         Yash Naik   22          680  390000.00   47000.00
23          24       Ritika Kaur   31          730  620000.00   61000.00
24          25     Nikhil Bansal   29          745  550000.00   18000.00
25          26       Deepika Sen   26          670  470000.00   94000.00
26          27        Aditya Dey   37          785  750000.00   33000.00
27          28      Kavita Mohan   43          810  870000.00   56000.00
28          29    Abhay Malhotra   32          740  640000.00   68000.00
29          30        Smita Iyer   21          660  360000.00   25000.00
30          31      Ankur Tiwari   44          820  890000.00   99000.00
31          32    Madhuri Bhagat   27          705  490000.00   38000.00
32          33       Vivek Raina   41          795  840000.00   44000.00
33          34       Komal Pawar   25          715  430000.00   52000.00
34          35       Dhruv Rawat   30          725  610000.00   30000.00
35          36       Roshni Vyas   23          690  390000.00   81000.00
36          37   Ashwin Kulkarni   48          835  920000.00   58000.00
37          38      Namrata Shah   35          770  700000.00   27000.00
38          39      Mohit Kapoor   28          750  560000.00   62000.00
39          40   Bhavna Tripathi   33          765  680000.00   35000.00
40         203       Sneha Patil   28          710  500000.00  100000.00
41         303    Kiran Deshmukh   32          705  620000.00  120000.00
42         304      Ritika Mehta   27          715  580000.00  110000.00
43         306    Aarav Deshmukh   28          735  750000.00  250000.00

   EligibilityStatus
0           Approved
1           Approved
2           Approved
3           Rejected
4           Approved
5           Rejected
6           Approved
7           Approved
8           Approved
9           Approved
10          Rejected
11          Approved
12          Approved
13          Rejected
14          Approved
15          Approved
16          Approved
17          Approved
18          Approved
19          Rejected
20          Approved
21          Approved
22          Rejected
23          Approved
24          Approved
25          Rejected
26          Approved
27          Approved
28          Approved
29          Rejected
30          Approved
31          Approved
32          Approved
33          Approved
34          Approved
35          Rejected
36          Approved
37          Approved
38          Approved
39          Approved
40          Approved
41          Approved
42          Approved
43          Approved

In [4]:
#Insert new applicant and display updated records
def insert_and_display(customer_id, name, age, income, history_id, credit_score, loan_id, loan_amount):
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="tejnk14",
        database="loan_system"
    )
    cursor = conn.cursor()

    # Insert new data
    cursor.execute("""
        INSERT INTO Customers (CustomerID, Name, Age, Income)
        VALUES (%s, %s, %s, %s)
    """, (customer_id, name, age, income))

    cursor.execute("""
        INSERT INTO CreditHistory (HistoryID, CustomerID, CreditScore)
        VALUES (%s, %s, %s)
    """, (history_id, customer_id, credit_score))

    cursor.execute("""
        INSERT INTO LoanApplications (LoanID, CustomerID, LoanAmount)
        VALUES (%s, %s, %s)
    """, (loan_id, customer_id, loan_amount))

    conn.commit()

    # Fetch updated records
    query = """
    SELECT 
        c.CustomerID,
        c.Name,
        c.Age,
        ch.CreditScore,
        c.Income,
        l.LoanAmount,
        er.EligibilityStatus
    FROM Customers c
    JOIN CreditHistory ch ON c.CustomerID = ch.CustomerID
    JOIN LoanApplications l ON c.CustomerID = l.CustomerID
    JOIN EligibilityResults er ON l.LoanID = er.LoanID;
    """

    cursor.execute(query)
    rows = cursor.fetchall()
    conn.close()

    columns = ['CustomerID', 'Name', 'Age', 'CreditScore', 'Income', 'LoanAmount', 'EligibilityStatus']
    df = pd.DataFrame(rows, columns=columns)
    print("\nâœ… New Applicant Added. Updated Loan Applications:")
    print(df)

#New applicant details
insert_and_display(
    customer_id=307,
    name='Ishita Kulkarni',
    age=32,
    income=820000,
    history_id=407,
    credit_score=762,
    loan_id=507,
    loan_amount=300000
)

show_all_applications()

âœ… New Applicant Added. Updated Loan Applications:
    CustomerID              Name  Age  CreditScore     Income LoanAmount  \
0            1       Amit Sharma   28          780  520000.00   15000.00
1            2        Neha Mehta   34          750  740000.00   85000.00
2            3        Ravi Joshi   45          805  880000.00   32000.00
3            4        Priya Nair   22          690  390000.00   45000.00
4            5       Karan Patel   31          720  610000.00   98000.00
5            6    Sneha Kulkarni   27          665  460000.00   37000.00
6            7      Manish Gupta   38          795  770000.00   22000.00
7            8         Divya Rao   25          710  420000.00   76000.00
8            9       Vikas Verma   50          825  950000.00   54000.00
9           10     Anjali Thakur   29          740  530000.00   67000.00
10          11    Rohan Deshmukh   26          685  480000.00   26000.00
11          12       Meera Sinha   40          800  820000.00   88000.00
12          13        Rahul Jain   35          765  690000.00   43000.00
13          14      Shweta Dubey   21          675  370000.00   51000.00
14          15  Siddharth Pillai   42          810  910000.00   29000.00
15          16      Tanya Saxena   23          700  410000.00   72000.00
16          17       Arjun Bhatt   30          725  600000.00   83000.00
17          18    Nidhi Kulkarni   28          735  540000.00   34000.00
18          19     Sameer Chavan   33          760  660000.00   60000.00
19          20        Isha Reddy   24          695  400000.00   20000.00
20          21       Harsh Joshi   36          755  730000.00   39000.00
21          22    Pooja Aggarwal   39          790  800000.00   75000.00
22          23         Yash Naik   22          680  390000.00   47000.00
23          24       Ritika Kaur   31          730  620000.00   61000.00
24          25     Nikhil Bansal   29          745  550000.00   18000.00
25          26       Deepika Sen   26          670  470000.00   94000.00
26          27        Aditya Dey   37          785  750000.00   33000.00
27          28      Kavita Mohan   43          810  870000.00   56000.00
28          29    Abhay Malhotra   32          740  640000.00   68000.00
29          30        Smita Iyer   21          660  360000.00   25000.00
30          31      Ankur Tiwari   44          820  890000.00   99000.00
31          32    Madhuri Bhagat   27          705  490000.00   38000.00
32          33       Vivek Raina   41          795  840000.00   44000.00
33          34       Komal Pawar   25          715  430000.00   52000.00
34          35       Dhruv Rawat   30          725  610000.00   30000.00
35          36       Roshni Vyas   23          690  390000.00   81000.00
36          37   Ashwin Kulkarni   48          835  920000.00   58000.00
37          38      Namrata Shah   35          770  700000.00   27000.00
38          39      Mohit Kapoor   28          750  560000.00   62000.00
39          40   Bhavna Tripathi   33          765  680000.00   35000.00
40         203       Sneha Patil   28          710  500000.00  100000.00
41         303    Kiran Deshmukh   32          705  620000.00  120000.00
42         304      Ritika Mehta   27          715  580000.00  110000.00
43         306    Aarav Deshmukh   28          735  750000.00  250000.00
44         307   Ishita Kulkarni   32          762  820000.00  300000.00

   EligibilityStatus
0           Approved
1           Approved
2           Approved
3           Rejected
4           Approved
5           Rejected
6           Approved
7           Approved
8           Approved
9           Approved
10          Rejected
11          Approved
12          Approved
13          Rejected
14          Approved
15          Approved
16          Approved
17          Approved
18          Approved
19          Rejected
20          Approved
21          Approved
22          Rejected
23          Approved
24          Approved
25          Rejected
26          Approved
27          Approved
28          Approved
29          Rejected
30          Approved
31          Approved
32          Approved
33          Approved
34          Approved
35          Rejected
36          Approved
37          Approved
38          Approved
39          Approved
40          Approved
41          Approved
42          Approved
43          Approved
44          Approved

ðŸ“‹ Existing Loan Applications with Eligibility Status:
    CustomerID              Name  Age  CreditScore     Income LoanAmount  \
0            1       Amit Sharma   28          780  520000.00   15000.00
1            2        Neha Mehta   34          750  740000.00   85000.00
2            3        Ravi Joshi   45          805  880000.00   32000.00
3            4        Priya Nair   22          690  390000.00   45000.00
4            5       Karan Patel   31          720  610000.00   98000.00
5            6    Sneha Kulkarni   27          665  460000.00   37000.00
6            7      Manish Gupta   38          795  770000.00   22000.00
7            8         Divya Rao   25          710  420000.00   76000.00
8            9       Vikas Verma   50          825  950000.00   54000.00
9           10     Anjali Thakur   29          740  530000.00   67000.00
10          11    Rohan Deshmukh   26          685  480000.00   26000.00
11          12       Meera Sinha   40          800  820000.00   88000.00
12          13        Rahul Jain   35          765  690000.00   43000.00
13          14      Shweta Dubey   21          675  370000.00   51000.00
14          15  Siddharth Pillai   42          810  910000.00   29000.00
15          16      Tanya Saxena   23          700  410000.00   72000.00
16          17       Arjun Bhatt   30          725  600000.00   83000.00
17          18    Nidhi Kulkarni   28          735  540000.00   34000.00
18          19     Sameer Chavan   33          760  660000.00   60000.00
19          20        Isha Reddy   24          695  400000.00   20000.00
20          21       Harsh Joshi   36          755  730000.00   39000.00
21          22    Pooja Aggarwal   39          790  800000.00   75000.00
22          23         Yash Naik   22          680  390000.00   47000.00
23          24       Ritika Kaur   31          730  620000.00   61000.00
24          25     Nikhil Bansal   29          745  550000.00   18000.00
25          26       Deepika Sen   26          670  470000.00   94000.00
26          27        Aditya Dey   37          785  750000.00   33000.00
27          28      Kavita Mohan   43          810  870000.00   56000.00
28          29    Abhay Malhotra   32          740  640000.00   68000.00
29          30        Smita Iyer   21          660  360000.00   25000.00
30          31      Ankur Tiwari   44          820  890000.00   99000.00
31          32    Madhuri Bhagat   27          705  490000.00   38000.00
32          33       Vivek Raina   41          795  840000.00   44000.00
33          34       Komal Pawar   25          715  430000.00   52000.00
34          35       Dhruv Rawat   30          725  610000.00   30000.00
35          36       Roshni Vyas   23          690  390000.00   81000.00
36          37   Ashwin Kulkarni   48          835  920000.00   58000.00
37          38      Namrata Shah   35          770  700000.00   27000.00
38          39      Mohit Kapoor   28          750  560000.00   62000.00
39          40   Bhavna Tripathi   33          765  680000.00   35000.00
40         203       Sneha Patil   28          710  500000.00  100000.00
41         303    Kiran Deshmukh   32          705  620000.00  120000.00
42         304      Ritika Mehta   27          715  580000.00  110000.00
43         306    Aarav Deshmukh   28          735  750000.00  250000.00
44         307   Ishita Kulkarni   32          762  820000.00  300000.00

   EligibilityStatus
0           Approved
1           Approved
2           Approved
3           Rejected
4           Approved
5           Rejected
6           Approved
7           Approved
8           Approved
9           Approved
10          Rejected
11          Approved
12          Approved
13          Rejected
14          Approved
15          Approved
16          Approved
17          Approved
18          Approved
19          Rejected
20          Approved
21          Approved
22          Rejected
23          Approved
24          Approved
25          Rejected
26          Approved
27          Approved
28          Approved
29          Rejected
30          Approved
31          Approved
32          Approved
33          Approved
34          Approved
35          Rejected
36          Approved
37          Approved
38          Approved
39          Approved
40          Approved
41          Approved
42          Approved
43          Approved
44          Approved