In [4]:
import mysql.connector
import pandas as pd

# Connect to MySQL Server
conn = mysql.connector.connect(
    host="localhost",        # or '127.0.0.1'
    user="root",
    password="tejnk14",
    database="loan_system"
)
cursor = conn.cursor()

# Run SQL Eligibility Query
query = """
SELECT 
    c.Name,
    c.Age,
    ch.CreditScore,
    c.Income,
    l.LoanAmount,
    CASE
        WHEN c.Age >= 21 AND ch.CreditScore >= 700 AND c.Income >= (l.LoanAmount * 0.4)
        THEN 'Approved'
        ELSE 'Rejected'
    END AS EligibilityStatus
FROM Customers c
JOIN CreditHistory ch ON c.CustomerID = ch.CustomerID
JOIN LoanApplications l ON c.CustomerID = l.CustomerID;
"""

cursor.execute(query)
rows = cursor.fetchall()

# Display results using pandas
columns = ['Name', 'Age', 'CreditScore', 'Income', 'LoanAmount', 'EligibilityStatus']
df = pd.DataFrame(rows, columns=columns)
print(df)

conn.close()

                Name  Age  CreditScore     Income LoanAmount EligibilityStatus
0        Amit Sharma   28          780  520000.00   15000.00          Approved
1         Neha Mehta   34          750  740000.00   85000.00          Approved
2         Ravi Joshi   45          805  880000.00   32000.00          Approved
3         Priya Nair   22          690  390000.00   45000.00          Rejected
4        Karan Patel   31          720  610000.00   98000.00          Approved
5     Sneha Kulkarni   27          665  460000.00   37000.00          Rejected
6       Manish Gupta   38          795  770000.00   22000.00          Approved
7          Divya Rao   25          710  420000.00   76000.00          Approved
8        Vikas Verma   50          825  950000.00   54000.00          Approved
9      Anjali Thakur   29          740  530000.00   67000.00          Approved
10    Rohan Deshmukh   26          685  480000.00   26000.00          Rejected
11       Meera Sinha   40          800  820000.00   88000.00          Approved
12        Rahul Jain   35          765  690000.00   43000.00          Approved
13      Shweta Dubey   21          675  370000.00   51000.00          Rejected
14  Siddharth Pillai   42          810  910000.00   29000.00          Approved
15      Tanya Saxena   23          700  410000.00   72000.00          Approved
16       Arjun Bhatt   30          725  600000.00   83000.00          Approved
17    Nidhi Kulkarni   28          735  540000.00   34000.00          Approved
18     Sameer Chavan   33          760  660000.00   60000.00          Approved
19        Isha Reddy   24          695  400000.00   20000.00          Rejected
20       Harsh Joshi   36          755  730000.00   39000.00          Approved
21    Pooja Aggarwal   39          790  800000.00   75000.00          Approved
22         Yash Naik   22          680  390000.00   47000.00          Rejected
23       Ritika Kaur   31          730  620000.00   61000.00          Approved
24     Nikhil Bansal   29          745  550000.00   18000.00          Approved
25       Deepika Sen   26          670  470000.00   94000.00          Rejected
26        Aditya Dey   37          785  750000.00   33000.00          Approved
27      Kavita Mohan   43          810  870000.00   56000.00          Approved
28    Abhay Malhotra   32          740  640000.00   68000.00          Approved
29        Smita Iyer   21          660  360000.00   25000.00          Rejected
30      Ankur Tiwari   44          820  890000.00   99000.00          Approved
31    Madhuri Bhagat   27          705  490000.00   38000.00          Approved
32       Vivek Raina   41          795  840000.00   44000.00          Approved
33       Komal Pawar   25          715  430000.00   52000.00          Approved
34       Dhruv Rawat   30          725  610000.00   30000.00          Approved
35       Roshni Vyas   23          690  390000.00   81000.00          Rejected
36   Ashwin Kulkarni   48          835  920000.00   58000.00          Approved
37      Namrata Shah   35          770  700000.00   27000.00          Approved
38      Mohit Kapoor   28          750  560000.00   62000.00          Approved
39   Bhavna Tripathi   33          765  680000.00   35000.00          Approved

In [5]:
summary = df['EligibilityStatus'].value_counts().reset_index()
summary.columns = ['Status', 'TotalApplications']
print(summary)

     Status  TotalApplications
0  Approved                 31
1  Rejected                  9